<h2>Mails Sent</h2>
TRUE CHART

<h2>Mail Stats</h2>
<p><%= @count_mails_sent %> mails sent</p>
<p><%= @count_mails_bounced %> mails bounced</p>
<p><%= @count_spam_complaints %> mails spam complaints</p>
